<div class="container-fluid">
  <div class="skills">
    <div class="skillsLabel">
      <h2>Skills</h2>
    </div>
      <ul class="skills_lists">
        <div class="row">
        <div class="col-md-5">
          <h5>HTML, CSS, Bootstrap 3</h5>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 60%">
              <span class="sr-only"></span>
            </div>
          </div>
        </div>

        <div class="col-md-5">
        <h5>Javascript, JQuery</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" style="width: 30%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <h5>Ruby on Rails</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" style="width: 35%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <h5>Git</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" style="width: 40%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <h5>SASS</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" style="width: 55%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>

    </div>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="skills">
    <div class="skillsLabel">
    <h2>Under Development</h2>
  </div>
  <ul class="skills_lists">
    <div class="row">
    <div class="col-md-5">
      <h5>MEAN (MongBo, Express, Angular, Node)</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" style="width: 15%">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <h5>React</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" style="width: 10%">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
    </div>
  </ul>
</div>
