<div class="parallax-window" data-parallax="scroll" data-image-src="<%= asset_path "dock_street.png" %>">
    <div class="container-fluid">
        <div class="caption">
          <h2>Hello, I'm <div class="myName">Salman</div></h2>
            <p>Rails // Motivated // Self-Educated</p>

        </div>
    </div>
</div>

<!-- <div class="jumbotron">
  <div class="container-fluid">
      <div class="caption">
        <h2>Salman Akram</h2>
          <p>Rails // Motivated // Learning More Technologies</p>
      </div>
  </div>
</div> -->
<div class="container-fluid">
    <div class="projectsLabel">
      <h2>Latest Projects</h2>
        <div class="row">
          <div class="thumbnail col-lg-4">
            <%= link_to(image_tag("sticker-team.png", size: "400x250"), alt="") %>
            <p>United we stand divided we fail.  Meet the all star team behind the agency.</p>
            <a href="team.html" class="button">Meet the Team</a>
          </div>

          <div class="thumbnail col-lg-4">
            <%= link_to(image_tag("sticker-work.png", size: "400x250"), alt="") %>
            <p>Check our latest app builds or download them in the App Store.</p>
            <a href="work.html" class="button">Latest Projects</a>
          </div>

          <div class="thumbnail col-lg-4">
            <%= link_to(image_tag("sticker-contact.png", size: "400x250"), alt="") %>
            <p>Have questions or requests?  Feel free to contact us, we’d love hear from you.</p>
            <a href="#" class="button">Contact Us</a>
          </div>

        <div class="row">
          <div class="boxes col-lg-4">
              <p>Add Your Project here </p>
          </div>
          <div class="boxes2 col-lg-4">
              <p>Add Your Project here </p>
          </div>
          <div class="boxes3 col-lg-4">
              <p>Add Your Project here </p>
          </div>
        </div>
      </div>
  </div>
</div>
