@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color: rgba(#ba2a2b, 0.83);
  height: 80px;
  transition: 1s;
}

.header {
  // position: fixed;
  // z-index: 9999;
  width: 100%;
}

#sticker {
  position: fixed;
  z-index: 9999;
}

.nav > li > a  {
  background-color: rgba(255, 255, 255, 0.98);
  color: #ac4142;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
    &:hover {
    color: #eb1c0d;
    font-size: 22px;
    padding: 17px 21px;
    transition: 0.40s ease;
    background-color: #FFF!important;
    }
}

.navbar-nav > li > a {
  text-align: center;
  font-size: 20px;
}

.toggle button {
  background-color: #FFF;
  color: #FFF;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 3px;

}

.toggle span {
  background-color: rgb(244, 165, 127);
}


.fa {
  color: #FFF;
}

.fa-envelope {
  color: #ac4142;
}

.jumbotron {
  width: 100%;
  text-align: center;
  margin-top: 380px;
  background-color: transparent !important;
  color: #FFF;
  font-family: 'Berkshire Swash', cursive;
}

.jumbotron h2 {
  font-size: 7.5em;
  font-family: 'Berkshire Swash', cursive;
  color: #FFF;
}

.jumbotron span > p {
  font-size: 2.5em;
  line-height: 1.9em;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
}

.projectsLabel, .skillsLabel {
  margin-top: 65px;
  margin-bottom: 55px;
  color: #1a6ba5;
}

.aboutLabel {
  text-align: center;
  color: #1a6ba5;
  font-size: 16px;
}

.skills {
  margin-bottom: 50px;
}

.skills_lists h2 {
  width: 80%;
  margin: auto;
}

.project_lists {
  margin-right: -150px;
}

.project_lists img {
  margin-bottom: 134px;
}

.skills_lists h5 {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.boxes {
  background-color: rgba(#f56464, 0.6);
  height: 550px;
  width: 350px;
}

.boxes2 {
  background-color: rgba(#2d8646, 0.6);
  height: 550px;
  width: 350px;
}

.boxes3 {
  background-color: rgba(#466feb, 0.6);
  height: 550px;
  width: 350px;
}

.boxes, .boxes2, .boxes3 p {
  color: #FFF;
  font-size: 1.5em;
  text-align: center;
  padding-top: 130px;
}


.footer {
  color: #FFF;
  background-color: rgba(186, 42, 43, 0.83);
  width: 100%;
  height: 300px;
  margin-top: 160px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 35px;
}

.parallax-window {
    min-height: 1000px;
    background: transparent;
    margin-top: -100px;
}
.parallax-window2 {
    min-height: 250px;
    background: transparent;
}

.aboutDescription {
  width: 85%;
  margin-bottom: 70px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.style_image {
  border-style: solid;
  border-radius: 160px;
  height: 250px;
  width: 200px;
}

.overlay {
  color: rgb(242, 51, 10);
  font-size: 55px;
}

#map {
  width: 100%;
  height: 400px;
}

.image-size img {
  width: 700px;
  height: 400px;
}
