@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color: #1a6ba5;
  height-position: 50%;
  transition: 1s;
}

// Sticky navbar
.is-sticky .header {
  background-color: rgba(#460d0d, 0.77);
}

.is-sticky .navbar-nav {
  padding: 9px 5px;
}

.navbar-nav {
  padding: 20px 5px;
}


.nav > li > a  {
  background-color: rgba(232, 55, 42, 0.42);
  color: #FFF;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
    &:hover {
    color: #B71105;
    padding: 15px 21px;
    transition: 0.85s ease;
    }
}

.navbar-brand span {
  font-size: 40px;
  position: absolute;
  width: 100%;
  list-style: none;
  color: #000;
  font-family: 'Raleway', sans-serif;
}

.fa {
  color: #FFF;
}

// .jumbotron {
//   position: relative;
  // background: #000 url('122H.jpg') center center;
  // width: 100%;
  // height: 450px;
  // background-size: cover;
  // margin-top: 5px;
// }

.caption {
  width: 100%;
  text-align: center;
  margin-top: 250px;
}

.caption h2 {
  font-size: 4.5em;
  letter-spacing: -2px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
}

.caption p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: 'Raleway', sans-serif;
  background-color: #FFF;
  display: inline;
  padding: 5px 7px;
  border-radius: 5px;
}

.projects, .skills h2 {
  margin-left: 20px;
  margin-bottom: 10px;
  color: #1a6ba5;
}

.boxes {
  background-color: rgba(#f56464, 0.6);
  height: 550px;
  width: 350px;
}

.boxes2 {
  background-color: rgba(#2d8646, 0.6);
  height: 550px;
  width: 350px;
}

.boxes3 {
  background-color: rgba(#466feb, 0.6);
  height: 550px;
  width: 350px;
}

.boxes, .boxes2, .boxes3 p {
  color: #FFF;
  font-size: 1.5em;
  text-align: center;
  padding-top: 130px;
}


.footer {
  color: #FFF;
  background-color: #ac4142;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 35px;
}

.parallax-window {
    min-height: 700px;
    background: transparent;
}

.skills_lists {
  width: 80%;
  margin: auto;
}
